---
layout: default
title: Categories
tags: categories
description: 有质量的新应用
---

<div class ='blog_excerpts'>
<h2 class ='page_title'>{{page.title}}</h2>

<div class ='post-excerpts'>
{% for category in site.categories %} 
<h5 class = 'post-date'> {{ category[0] | join: "/" }}</h5>
	{% for post in category[1] %}
		<h3 class="post-title">
			<div>
				<img src="{{ post.results.first.artworkUrl60 }}" alt="">&nbsp;&nbsp;<a href={{ post.url }} class="">{{ post.title }}<span style="font-weight: lighter;">: {{ post.description }}</span></a>
			</div>
		</h3>
	{% endfor %}

{% endfor %}
</div>
</div>
