---
layout: default
title: Categories
tags: categories
description: 有质量的新应用
---

<div class ='blog_excerpts'>
<h2 class ='page_title'>{{page.title}}</h2>

<div class ='post-excerpts'>
{% for category in site.categories %} 
<h5 class = 'post-date'> {{ category[0] | join: "/" }}</h5>
	{% for post in category[1] %}
		<h3 class="post-title">
			<a href={{ post.url }} class="" target="_blank">•&nbsp;{{ post.title }}&nbsp;•&nbsp;{{ post.description }}</a>
		</h3>
	{% endfor %}

{% endfor %}
</div>
</div>
