---
title: Home
layout: default
tags: itunescn, app, quality
description: 有质量的新应用

---
<div class='cover-page'>
    <div class='blog-icon'>
        <img src="/images/chaoqichaoluo-logo.png" alt="">
    </div>
</div>

<div class='post-excerpts'>
	{% for post in paginator.posts %}
		<h5 class='post-date'>{{ post.date |  date: "%d %B %Y"}}</h5>
	    <h3 class='post-title'>
        <span><img src="{{ post.results.first.artworkUrl60 }}" alt=""></span>&nbsp;&nbsp;<a href="{{ post.url }}" target="_blank">{{ post.title }}: {{ post.description }}</a>
	    </h3>  
	{% endfor %}
</div>



{% if paginator.total_pages > 1 %}
<div id="post-pagination" class="pagination">
  <h5>
    <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>&nbsp;&nbsp;
      {% else %}
        <a href="/">1</a>&nbsp;&nbsp;
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
        ・&nbsp;&nbsp;<span class="current-page">{{count}}</span>
        {% else %}
        ・&nbsp;&nbsp;<a href="/page{{ count }}">{{count}}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  </h5>
</div>
{% endif %}
